.container-wrapper {
  display: flex;
  min-height: 47vh;
  margin: 2rem 3%;
}
.cart-container {
  width: 70%;
}

.cart-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid #e0e0e0;
  font-weight: 400;
  font-size: 0.9rem;
  color: grey;
}

.header-item {
  text-align: center;
}

.header-item-product {
  width: 40%;
  text-align: left;
}

.header-item-price {
  width: 15%;
}

.header-item-quantity {
  width: 20%;
}

.header-item-total {
  width: 15%;
}

.cart-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid #e0e0e0;
  font-size: 14px;
}

.product {
  display: flex;
  align-items: center;
  width: 40%;
}

.product img {
  width: auto;
  height: 150px;
  margin-right: 10px;
}

.product-details p {
  margin: 0;
  font-size: 0.9rem;
}

.price {
  width: 15%;
  text-align: center;
  font-size: 0.9rem;
}

.quantity-control {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 20%;
}

.total {
  width: 15%;
  text-align: center;
  font-size: 0.9rem;
}

.quantity-box {
  display: flex;
  align-items: center;
  border: 1px solid grey;
  padding: 0;
  width: fit-content;
  height: 30px;
}

.quantity-btn {
  background-color: white;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  width: 40px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quantity {
  width: 40px;
  height: 100%;
  font-size: 1rem;
  text-align: center;
  border: none;
  outline: none;
}
/* Spinner removed */
.quantity::-webkit-outer-spin-button,
.quantity::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.remove-link {
  margin-top: 5px;
  font-size: 12px;
  color: grey;
  text-decoration: none;
  cursor: pointer;
  transition: 0.1s all ease-in;
}

.remove-link:hover {
  color: #b4b4b4;
}

/* Cart Summary */
.cart-summary {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2.4rem;
  width: 30%;
}
.total-details {
  display: flex;
  justify-content: space-between;
  width: 50%;
  font-size: 0.9rem;
  margin-bottom: 2rem;
}

.continue-container {
  width: 50%;
}

.continue-btn {
  width: 100%;
  background-color: #1b2635;
  color: white;
  border: 2px solid transparent;
  padding: 10px 20px;
  transition: 0.2s all ease-in;
}

.continue-btn:hover {
  border: 2px solid #1b2635;
  background-color: white;
  color: #1b2635;
}

.order-container {
  margin-top: 1rem;
  width: 50%;
}

.order-btn {
  width: 100%;
  background-color: #1b2635;
  color: white;
  border: 2px solid transparent;
  padding: 10px 20px;
  transition: 0.2s all ease-in;
}

.order-btn:hover {
  border: 2px solid #1b2635;
  background-color: white;
  color: #1b2635;
}
