.container-wrapper {
  display: flex;
  min-height: 47vh;
  margin: 2rem 3%;
}
.cart-container {
  width: 70%;
}

.cart-summary {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2.4rem;
  width: 30%;
}
.total-details {
  display: flex;
  justify-content: space-between;
  width: 50%;
  font-size: 0.9rem;
  margin-bottom: 2rem;
}

.continue-container {
  width: 50%;
}

.continue-btn {
  width: 100%;
  background-color: #1b2635;
  color: white;
  border: none;
  padding: 10px 20px;
}

.cart-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid #e0e0e0;
  font-weight: 400;
  font-size: 0.9rem;
  color: grey;
}

.header-item {
  text-align: center;
}

.header-item-product {
  width: 40%;
  text-align: left;
}

.header-item-price {
  width: 15%;
}

.header-item-quantity {
  width: 20%;
}

.header-item-total {
  width: 15%;
}

.cart-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid #e0e0e0;
  font-size: 14;
}

.product {
  display: flex;
  align-items: center;
  width: 40%;
}

.product img {
  width: 100px;
  height: auto;
  margin-right: 10px;
}

.product-details p {
  margin: 0;
  font-size: 0.9rem;
}

.price {
  width: 15%;
  text-align: center;
  font-size: 0.9rem;
}

.quantity-control {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
  text-align: center;
}

.total {
  width: 15%;
  text-align: center;
  font-size: 0.9rem;
}

.quantity-box {
  display: flex;
  align-items: center;
  border: 1px solid #ddd;
  padding: 5px 10px;
  width: fit-content;
}

.quantity-btn {
  background-color: white;
  border: none;
  cursor: pointer;
  font-size: 0.9rem;
  padding: 0 10px;
}

.quantity {
  padding: 0 10px;
  font-size: 16px;
  text-align: center;
  min-width: 20px;
}

.remove-link {
  margin-top: 5px;
  font-size: 12px;
  color: grey;
  text-decoration: none;
  cursor: pointer;
  transition: 0.1s all ease-in;
}

.remove-link:hover {
  color: #b4b4b4;
}
